.cover  {
	position: absolute;
	top: 0%;
	left: 0%;
	background-image: url("cover3.jpg");
	background-size: cover;
	image-repeat: no-repeat;
	filter: brightness(55%) blur(2px) drop-shadow(16px 16px 20px pink);
	width: 100vw;
	height: 100vh;
	z-index: -17;
}

.content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	z-index: 2;
	flex: 200px;
}

.content > div {
	margin: 10px;
	gap: 15px;
	border: 1px solid white;
}

.content :nth-child(1) {order: 1;}
.content :nth-child(2) {order: 3;} 
.content :nth-child(3) {order: 2;} 


	

.lokacija {
	flex-wrap: wrap;
	background-color: rgba(0, 0, 0, 0.5);
	flex: 0px;
	box-shadow: 2px 2px 2px black;
	color: violet;
	text-align: center;
	text-shadow: 2px 2px 2px black;	

	
}



.onama {
	flex: 0px;
	background-color: rgba(0, 0, 0, 0.5);
	flex-wrap: wrap;
	box-shadow: 2px 2px 2px black;
	text-align: center;
	color: violet;
	text-shadow: 2px 2px 2px black;
	font-size: 15px;

}




.title {
	font-size: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-shadow: 0.5px 0.5px black;
	color: violet;
	text-align: center;
	

	
	
}

.proizvodi {
	color: white;
	font-size: 30px;
	text-align: center;
	flex-wrap: wrap;
}


.navbar {
	display: flex;
	justify-content: flex-start;
	font-size: 30px;
	border: none;
	color: white;
	text-shadow: 2px 2px 6px black;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	width: 300px;
}

li {
	margin-top: 10px;
}

.navbar ul, li{
	list-style-type: none;
}

.footer {
	position: fixed;
	bottom: 0%;
	left: 0%;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	text-align: center;
	color: white;
}

a {
	text-decoration: none;
	color: white;
	}


@media only screen and (max-width: 600px) {

.onama {
	height: 20vh;
}


.lokacija {
	position: absolute;
	bottom: 0px;
	
}

.proizvodi {
	display: none;
}

.slika {
	height: 35vh;
	width: 30vw;
	position: absolute;
	bottom: 25%;
	left: 40%;
	
}


